/* Estilos para el encabezado */


/* Estilos para la lista */
ion-list {
  background: #f9f9f9; /* Fondo gris claro */
  padding: 10px;
  padding-top: 75px;
}

/* Estilos para cada elemento de la lista */
ion-item {
  padding-top: 20px;
  border-radius: 8px;
  margin: 5px 0;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombras suaves */
}

/* Estilos para el ícono */
ion-icon {
  font-size: 24px;
  color: #3b82f6; /* Azul primario */
}

/* Estilos para el texto del título */
ion-label h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: #333; /* Gris oscuro */
}

/* Estilos para la descripción */
ion-label p {
  font-size: 14px;
  margin: 5px 0 0;
  color: #555; /* Gris intermedio */
}

/* Estilos para la fecha */
ion-note {
  font-size: 12px;
  color: #888; /* Gris claro */
}

/* Estilos para contenido general */
ion-content {
  --background: #f0f4f8; /* Fondo general */
  padding: 10px;
  padding-top: 150px;
}
