@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 17px;
  background: linear-gradient(135deg, #007bff, #ffffff, #007bff);

  .register-card {
    background: #fff;
    border-radius: 11px;
    padding: 35px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

    h2 {
      font-family: 'Poppins', sans-serif;
      font-size: 2rem;
      font-weight: 600;
      color: #007bff;
      margin-bottom: 5px;
    }

    .subtitle {
      color: #666;
      font-size: 0.7rem;
      margin-bottom: 13px;
    }

    .form-group {
      margin-bottom: 12px;
      text-align: left;

      label {
        display: block;
        font-weight: 600;
        margin-bottom: 6px;
        color: #333;
        font-size: 0.85rem;
      }

      .form-control {
        width: 100%;
        padding: 8px;
        font-size: 1rem;
        border: 1.5px solid #007bff;
        border-radius: 8px;
        background-color: #fff;
        color: #333;
        transition: all 0.3s ease-in-out;

        &:focus {
          border-color: #0056b3;
          outline: none;
          background-color: #f4f4f9;
        }
      }

      small.text-danger {
        color: red;
        font-size: 0.65rem;
        margin-top: 4px;
        display: block;
      }
    }

    .btn-primary {
      display: block;
      width: 100%;
      padding: 11px;
      font-size: 1rem;
      font-weight: 600;
      color: #fff;
      background-color: #007bff;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #0056b3;
      }
    }

    .login-link {
      margin-top: 19px;
      font-size: 0.9rem;

      a {
        color: #007bff;
        font-weight: bold;
        cursor: pointer;
        transition: color 0.3s;

        &:hover {
          color: #0056b3;
        }
      }
    }
  }
}

/* Diseño responsivo */
@media (max-width: 768px) {
  .register-container {
    padding: 10px;

    .register-card {
      padding: 30px;
    }
  }
}

@media (max-width: 576px) {
  .register-container {
    .register-card {
      padding: 20px;

      h2 {
        font-size: 1.8rem;
      }
    }
  }
}
