
  <ion-card-content>
    <ul class="info-list">
      <li class="info-item">
        <span class="info-label">Nombre:</span>
        <span class="info-value">{{ nombre }}</span>
      </li>
      <li class="info-item">
        <span class="info-label">Edad:</span>
        <span class="info-value">{{ edad }}</span>
      </li>
      <li class="info-item">
        <span class="info-label">Texto:</span>
        <span class="info-value">{{ informacion }}</span>
      </li>
    </ul>
  </ion-card-content>
