<!-- Si NO está en login/register, mostrar la app -->
<div *ngIf="!isAuthPage">
  <ion-header>
    <ion-toolbar color="primary" class="custom-header">
      <ion-buttons slot="start" *ngIf="isAuthenticated">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>VitalSync</ion-title>
      <ion-buttons slot="end" *ngIf="isAuthenticated">
        <img src="assets/exit.png" alt="Cerrar sesión" width="90" height="100" (click)="confirmLogout()">
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  

  <!-- Menú lateral (solo si está autenticado) -->
  <ion-menu *ngIf="isAuthenticated" side="start" menuId="first" contentId="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item button routerLink="/inicio" routerDirection="root" lines="none">
          <ion-icon name="home-outline" slot="start"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-item>
        <ion-item button routerLink="/ubicacion" routerDirection="root" lines="none">
          <ion-icon name="location-outline" slot="start"></ion-icon>
          <ion-label>Ubicación</ion-label>
        </ion-item>
        <ion-item button routerLink="/historial" routerDirection="root" lines="none">
          <ion-icon name="time-outline" slot="start"></ion-icon>
          <ion-label>Historial</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
</div>

<!-- Aquí se muestra el contenido de la app -->
<ion-router-outlet id="main-content"></ion-router-outlet>
